.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style-type: none;
  padding-left: 0;
  display: inline-flex;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  display: inline-flex;
}

.header__navbar-item,
/* .header__navbar-icon-link, */
.header__navbar-item-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item-link {}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background-color: #fb9086;
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-poiter {
  cursor: text;
  color: var(--white-color);
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

/* Header Qr code */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  margin: 0 11px;
}

.header__qr-link {}

.header__qr-download-img {
  height: 16px;
}

/* Header notification */
.header__notify {
  position: absolute;
  top: 128%;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #D3D3D3;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  will-change: opacity, transform;
  animation: headerNotifyGrowth ease-in 0.3s;
  display: none;
}

.header__notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 27px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -28px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 92px;
  height: 20px;
  right: -1px;
  top: -13px;
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 40px;
  cursor: text;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__notify-link span {
  display: flex;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #756F6E;
  margin-top: 4px;
}

.header__notify-footer {}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  display: block;
}

/* keyframe */
@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* Auth modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 16px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 16px;
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.btn--with-icon {
  display: flex;
  justify-content: space-around;
}

.auth-form__socials-icon {
  font-size: 2rem;
}

.auth-form__socials--facebook {
  background-color: #3A5A98;
  color: var(--white-color);
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__socials--facebook {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin-left: 5px;
}